/*
*	Symbols used on this app are from various contributors from thenounproject.com collection.
*	For more imformation, visit thenounproject.com.
*/

/* Start Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.fm_left_text{
    color:white;
}
.fm_left_text.small_text{
    font-size:x-small;
}
.fm_left_text.notsosmall_text{
    font-size:small;
}
.fm_left_text.bold_text{
    font-weight: bold;
    font-size:medium;
}
.fm_safety_focus_font{
    font-weight:bold;
    font-size:large;
    display:table-cell;
    vertical-align:middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
}
/* End Reset CSS */

body {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header, footer {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 150;
}

nav {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 100;
}


    footer, header .fm_title_bar {
        text-align: center;
        margin: 0px auto;
        height: 0px;
    }

    nav .fm_nav {
        height: 100%;
    }

.fm_container {
    margin: 10px;
}

nav .fm_container {
    margin: 0px;
}

header, footer {
    background-color: #222;
    color: white;
}

footer {
    -webkit-box-shadow: 0px 0px 15px -2px black;
    -moz-box-shadow: 0px 0px 15px -2px black;
    box-shadow: 0px 0px 15px -2px black;
}

nav {
    background-color:#04273e;
    -webkit-box-shadow: 0px 0px 15px -2px black;
    -moz-box-shadow: 0px 0px 15px -2px black;
    box-shadow: 0px 0px 15px -2px black;
}

.fm_right_content {
    background-color: white;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 15px -4px black;
    -moz-box-shadow: 0px 0px 15px -4px black;
    box-shadow: 0px 0px 15px -4px black;
}

.fm_container_main {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
}

.fm_left_content,
.fm_center_content,
.fm_right_content {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: .9em;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.fm_map {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fm_Dialog{
    background: #5c5d5f;
}
    .fm_map .esriSimpleSlider {
        left: 15px;
        top: 15px;
    }

.fm_find_me {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 100;
    cursor: pointer;
}

    .fm_find_me.fm_on {
        background: url(fm_icons/crosshairs-gray-on.png) no-repeat;
    }

.fm_overlay {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1000;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 10px rgba(34,34,34,.6);
    -moz-box-shadow: 0 0 0 10px rgba(34,34,34,.6);
    box-shadow: 0 0 0 10px rgba(34,34,34,.6);
    *box-shadow: 0 0 0 10px rgba(154,179,199,.8);
    opacity: 1;
}

.fm_trigger, .fm_panel {
    display: none;
}

.fm_close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    z-index: 800;
}

.fm_close_icon {
    width: 20px;
    height: 20px;
}

.fm_hide {
    display: none;
}

.fm_toolbar {
    position: relative;
    top: -2px;
    float: right;
}

.fm_basemap_image {
    width: 130px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 6px white, 0 0 0 7px black;
    -moz-box-shadow: 0 0 0 6px white, 0 0 0 7px black;
    box-shadow: 0 0 0 6px white, 0 0 0 7px black;
}

.fm_basemap_option {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    font-size: .8em;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 10px 10px 10px 10px;
}

    .fm_basemap_option label {
        display: block;
        margin-top: 5px;
    }

.fm_icon_text {
    display: none;
}


    .fm_icon_text.fm_show {
        display: inline;
    }

.fm_map_info {
    font-size: 0.75em;
    padding-top: .25em;
}

.fm_map_info_mobile {
    background-color: rgba(255,255,255,1);
    color: black;
}

.fm_embed_code {
    width: 100%;
    height: 13em;
    margin-top: 10px;
}

/** buttons, icons, inputs **/
.fm_trigger, .fm_button {
    display: inline-block;
}

.fm_location_input {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    font-size: 1em;
    border: none;
    padding: 0 5px 0 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 85%;
}

.fm_location_button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 1em 1em;
}


/***************************/

/* anything but phone */
@media all and (min-width: 768px) {
    .fm_logo_image{
        background: url(../images/nc-vision-zero-logo-white.png) no-repeat;
        margin-top:5px;
        height:35px;
        width:180px;
        padding:10px;
        background-size: 100% 100%;
        float:left;
    }
    /* desktop images */
    .fm_basemap_icon {
        background: url(fm_icons/map2-w.png) no-repeat;
    }

    .fm_measure_icon {
        background: url(fm_icons/ruler3-w.png) no-repeat;
    }

    .fm_details_icon {
        background: url(fm_icons/info2-w.png) no-repeat;
    }

    .fm_legend_icon {
        background: url(fm_icons/key-w.png) no-repeat;
    }

    .fm_print_icon {
        background: url(fm_icons/printer-w.png) no-repeat;
    }

    .fm_share_icon {
        background: url(fm_icons/share2-w.png) no-repeat;
    }

    .fm_search_icon {
        background: url(fm_icons/chart_white24.png) no-repeat;
    }

    .fm_settings_icon {
        background: url(fm_icons/settings-w.png) no-repeat;
    }

    .fm_dates_icon {
        background: url(fm_icons/dates.png) no-repeat;
    }

    .fm_filters_icon {
        background: url(fm_icons/filter.png) no-repeat;
    }

    .fm_locations_icon {
        background: url(fm_icons/earth.png) no-repeat;
    }

    .fm_routes_icon {
        background: url(fm_icons/route.png) no-repeat;
    }
    .fm_table_icon {
        background: url(fm_icons/Table_w24.png) no-repeat;
    }

    .fm_button_active .fm_basemap_icon, .fm_button:hover .fm_basemap_icon {
        background: url(fm_icons/map2.png) no-repeat;
    }

    .fm_button_active .fm_measure_icon, .fm_button:hover .fm_measure_icon {
        background: url(fm_icons/ruler3.png) no-repeat;
    }

    .fm_button_active .fm_details_icon, .fm_button:hover .fm_details_icon {
        background: url(fm_icons/info2.png) no-repeat;
    }

    .fm_button_active .fm_legend_icon, .fm_button:hover .fm_legend_icon {
        background: url(fm_icons/key.png) no-repeat;
    }

    .fm_button_active .fm_print_icon, .fm_button:hover .fm_print_icon {
        background: url(fm_icons/printer.png) no-repeat;
    }

    .fm_button_active .fm_share_icon, .fm_button:hover .fm_share_icon {
        background: url(fm_icons/share2.png) no-repeat;
    }

    .fm_button_active .fm_search_icon, .fm_button:hover .fm_search_icon {
        background: url(fm_icons/chart24.png) no-repeat;
    }

    .fm_button_active .fm_settings_icon, .fm_button:hover .fm_settings_icon {
        background: url(fm_icons/settings.png) no-repeat;
    }

    .fm_button_active .fm_dates_icon, .fm_button:hover .fm_dates_icon {
        background: url(fm_icons/dates2.png) no-repeat;
    }

    .fm_button_active .fm_filters_icon, .fm_button:hover .fm_filters_icon {
        background: url(fm_icons/filter2.png) no-repeat;
    }

    .fm_button_active .fm_locations_icon, .fm_button:hover .fm_locations_icon {
        background: url(fm_icons/earth2.png) no-repeat;
    }

    .fm_button_active .fm_routes_icon, .fm_button:hover .fm_routes_icon {
        background: url(fm_icons/route2.png) no-repeat;
    }
    .fm_button_active .fm_table_icon, .fm_button:hover .fm_table_icon {
        background: url(fm_icons/Table24.png) no-repeat;
    }
    .fm_close {
        background: url(fm_icons/close.png) no-repeat;
    }

    .fm_button {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
        *color: black;
        color: white;
        text-decoration: none;
        border: none;
        background: none;
        padding: 0px 5px 0px 5px;
        display: inline-block;
        height: 100%;
    }

    .fm_button_active {
        background-color: white;
    }
    /* end desktop images */

    header {
        top: 0px;
        height: 2.5em;
    }

    footer {
        bottom: 0px;
        height: 1.5em;
    }

    nav {
        top: 2.5em;
        margin: 0;
        padding: 0;
        height: 4.8em;
    }

    header .fm_title_bar {
        font-size: 1.5em;
        margin-top: 0px;
        height: 0px;
    }

    .fm_container_main {
        top: 4.8em;
        bottom: 1.5em;
    }

    .fm_right_content {
        left: 0;
        width: 355px;
    }

    .fm_center_content {
        right: 0;
        left: 340px;
    }

    nav .fm_nav {
        width: 98%;
        margin: 0 auto;
    }

    .fm_float_right {
        float: right;
    }

    .fm_basemaps_list {
        top: 10em;
        height: 190px;
        width: 500px;
        left: 30%;
        /*overflow: auto;*/
    }

    .fm_table_data {
        bottom: 25px;
        height: 190px;
        width: 100%;
        left: 0px;
    }

    #basemapList {
        width: 100%;
    }

    .fm_measurement {
        top: 10em;
        height: 120px;
        width: 250px;
        left: 30%;
    }

    .fm_ribbon_style {
        display: none;
        background-color: lightgrey;
        width: 100%;
        margin: 0 auto;
        top: 2.21em;
        height: 100px;
        position: absolute;
        z-index: 150;
    }

    .fm_cluster {
        position: absolute;
        z-index: 99;
        background-color: transparent;
        width: 220px;
        height: 75px;
    }

    .fm_factor_parent {
        float: left;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
    }
    .fm_factor_parent.clear_left{
        clear: left;
    }

    .fm_factor_child_button {
        /*background: url(fm_icons/rb.png) no-repeat;
        width: 48px;
        height: 48px;
        top: 10px;
        text-align: center;
        display: table;*/
    }

    .fm_deathinjury_style {
        float: left;
        /*padding-left: 15px;*/
        padding-bottom: 15px;
        padding-top: 15px;
    }

        .fm_deathinjury_style div {
            width: 190px;
        }

    .fm_factor_label {
        display: table-cell;
        vertical-align: middle;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }
    .fm_factor_alcohol{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/alcohol-notselected-30.png') no-repeat;
    }
    .fm_factor_alcohol:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/alcohol-hover-30.png') no-repeat;
    }
    .fm_factor_alcohol_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/alcohol-selected-30.png') no-repeat;
    }


    .fm_factor_unbelted{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/seatbelt-notselected-30.png') no-repeat;
    }
    .fm_factor_unbelted:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/seatbelt-hover-30.png') no-repeat;
    }
    .fm_factor_unbelted_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/seatbelt-selected-30.png') no-repeat;
    }


    .fm_factor_speeding{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/speeding-notselected-30.png') no-repeat;
    }
    .fm_factor_speeding:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/speeding-hover-30.png') no-repeat;
    }
    .fm_factor_speeding_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/speeding-selected-30.png') no-repeat;
    }


    .fm_factor_distracted{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/dd-notselected-30.png') no-repeat;
    }
    .fm_factor_distracted:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/dd-hover-30.png') no-repeat;
    }
    .fm_factor_distracted_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/dd-selected-30.png') no-repeat;
    }


    .fm_factor_under21{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/under21-notselected-30.png') no-repeat;
    }
    .fm_factor_under21:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/under21-hover-30.png') no-repeat;
    }
    .fm_factor_under21_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/under21-selected-30.png') no-repeat;
    }


    .fm_factor_olderdriver{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/60orolder-notselected-30.png') no-repeat;
    }
    .fm_factor_olderdriver:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/60orolder-hover-30.png') no-repeat;
    }
    .fm_factor_olderdriver_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/60orolder-selected-30.png') no-repeat;
    }

    .fm_factor_bike{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/bike-notselected-30.png') no-repeat;
    }
    .fm_factor_bike:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/bike-hover-30.png') no-repeat;
    }
    .fm_factor_bike_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/bike-selected-30.png') no-repeat;
    }


    .fm_factor_pedestrian{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/pedestrian-notselected-30.png') no-repeat;
    }
    .fm_factor_pedestrian:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/pedestrian-hover-30.png') no-repeat;
    }
    .fm_factor_pedestrian_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/pedestrian-selected-30.png') no-repeat;
    }

    .fm_factor_motorcycle{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/motorcycle-notselected-30.png') no-repeat;
    }
    .fm_factor_motorcycle:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/motorcycle-hover-30.png') no-repeat;
    }
    .fm_factor_motorcycle_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/motorcycle-selected-30.png') no-repeat;
    }

    .fm_factor_truck{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/truck-notselected-30.png') no-repeat;
    }
    .fm_factor_truck:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/truck-hover-30.png') no-repeat;
    }
    .fm_factor_truck_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/truck-selected-30.png') no-repeat;
    }

    .fm_factor_intersection{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/intersection-notselected-30.png') no-repeat;
    }
    .fm_factor_intersection:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/intersection-hover-30.png') no-repeat;
    }
    .fm_factor_intersection_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/intersection-selected-30.png') no-repeat;
    }
    
    .fm_factor_workzone{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/workzone-notselected-30.png') no-repeat;
    }
    .fm_factor_workzone:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/workzone-hover-30.png') no-repeat;
    }
    .fm_factor_workzone_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/workzone-selected-30.png') no-repeat;
    }

    .fm_factor_railroad{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/railroad-notselected-30.png') no-repeat;
    }
    .fm_factor_railroad:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/railroad-hover-30.png') no-repeat;
    }
    .fm_factor_railroad_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/railroad-selected-30.png') no-repeat;
    }

    .fm_factor_lane{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/lane-notselected-30.png') no-repeat;
    }
    .fm_factor_lane:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/lane-hover-30.png') no-repeat;
    }
    .fm_factor_lane_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/lane-selected-30.png') no-repeat;
    }


    .fm_factor_title {
        /*float: left;*/
        margin-top: 20px;
        /*padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 25px;
        padding-right: 10px;*/
        font-weight: bold;
    }
    .fm_factor_title.clear_left{
        clear:left;
    }

    .fm_search {
        left: 35%;
        right: 35%;
        top: 8em;
    }

    .fm_button:hover {
        color: black;
        background-color: #fff;
    }

        .fm_button .fm_icon, .fm_button:hover .fm_icon {
            width: 32px;
            height: 32px;
            display: inline-block;
            background-size: 32px 32px;
        }

    .fm_icon {
        position: relative;
        top: 15px;
    }

    .fm_close {
        width: 20px;
        height: 20px;
        margin: 10px;
        background-size: 20px 20px;
    }

    .fm_button {
        margin: 0 3px;
    }
}

/* laptop */
@media all and (max-width: 1279px) {
    .*fm_center_content.fm_right {
        right: 0px;
    }

    .*fm_center_content.fm_left {
        left: 0px;
    }

    .fm_search {
        left: 30%;
        right: 30%;
    }

    .fm_cluster {
        position: absolute;
        z-index: 101;
        background-color: transparent;
        width: 220px;
        height: 75px;
    }
}

/* tab */
@media all and (max-width: 1024px) {
    .fm_right_content {
        display: none;
    }

    .fm_center_content {
        left: 0px;
        right: 0px;
    }

    .fm_search {
        left: 25%;
        right: 25%;
    }

    .fm_panel {
        padding-top: 30px;
    }

    .fm_cluster {
        position: absolute;
        z-index: 101;
        background-color: transparent;
        width: 220px;
        height: 75px;
    }
}

/* phone */
@media all and (max-width: 767px) {
    /* image overrides */

    .fm_logo_image{
        background: url(../images/nc-vision-zero-logo-white.png) no-repeat;
        margin-top:5px;
        margin-left:5px;
        height:35px;
        width:115px;
        padding:10px;
        background-size: 100% 100%;
        float:left;
    }

    .fm_basemap_icon {
        background: url(fm_mobile_icons/map2-w.png) no-repeat;
    }

    .fm_measure_icon {
        background: url(fm_mobile_icons/ruler3-w.png) no-repeat;
    }

    .fm_details_icon {
        background: url(fm_mobile_icons/info2-w.png) no-repeat;
    }

    .fm_legend_icon {
        background: url(fm_mobile_icons/key-w.png) no-repeat;
    }

    .fm_print_icon {
        background: url(fm_mobile_icons/printer-w.png) no-repeat;
    }

    .fm_share_icon {
        background: url(fm_mobile_icons/share2-w.png) no-repeat;
    }

    .fm_search_icon {
        background: url(fm_mobile_icons/chart_white2.png) no-repeat;
    }

    .fm_settings_icon {
        background: url(fm_mobile_icons/settings-w.png) no-repeat;
    }
    /*Need mobile 50x50 icons for dates | filters*/
    .fm_dates_icon {
        background: url(fm_mobile_icons/date_w.png) no-repeat;
    }

    .fm_filters_icon {
        background: url(fm_icons/filter.png) no-repeat;
    }

    .fm_locations_icon {
        background: url(fm_mobile_icons/earth_w.png) no-repeat;
    }

    .fm_routes_icon {
        background: url(fm_mobile_icons/route_w.png) no-repeat;
    }
    .fm_table_icon {
        background: url(fm_mobile_icons/hamburger_w.png) no-repeat;
    }

    .fm_button_active .fm_basemap_icon, .fm_button:hover .fm_basemap_icon {
        background: url(fm_mobile_icons/map2.png) no-repeat;
    }

    .fm_button_active .fm_measure_icon, .fm_button:hover .fm_measure_icon {
        background: url(fm_mobile_icons/ruler3.png) no-repeat;
    }

    .fm_button_active .fm_details_icon, .fm_button:hover .fm_details_icon {
        background: url(fm_mobile_icons/info2.png) no-repeat;
    }

    .fm_button_active .fm_legend_icon, .fm_button:hover .fm_legend_icon {
        background: url(fm_mobile_icons/key.png) no-repeat;
    }

    .fm_button_active .fm_print_icon, .fm_button:hover .fm_print_icon {
        background: url(fm_mobile_icons/printer.png) no-repeat;
    }

    .fm_button_active .fm_share_icon, .fm_button:hover .fm_share_icon {
        background: url(fm_mobile_icons/share2.png) no-repeat;
    }

    .fm_button_active .fm_search_icon, .fm_button:hover .fm_search_icon {
        background: url(fm_mobile_icons/chart2.png) no-repeat;
    }

    .fm_button_active .fm_settings_icon, .fm_button:hover .fm_settings_icon {
        background: url(fm_mobile_icons/settings.png) no-repeat;
    }
    /*need mobile 50x50 icons for dates | filters*/
    .fm_button_active .fm_dates_icon, .fm_button:hover .fm_dates_icon {
        background: url(fm_mobile_icons/date2_w.png) no-repeat;
    }

    .fm_button_active .fm_filters_icon, .fm_button:hover .fm_filters_icon {
        background: url(fm_icons/filter2.png) no-repeat;
    }

    .fm_button_active .fm_locations_icon, .fm_button:hover .fm_locations_icon {
        background: url(fm_mobile_icons/earth2_w.png) no-repeat;
    }

    .fm_button_active .fm_routes_icon, .fm_button:hover .fm_routes_icon {
        background: url(fm_mobile_icons/route2_w.png) no-repeat;
    }
    .fm_button_active .fm_table_icon, .fm_button:hover .fm_table_icon {
        background: url(fm_mobile_icons/hamburger.png) no-repeat;
    }

    .fm_close {
        background: url(fm_mobile_icons/close.png) no-repeat;
    }
    /* end image overrides */

    .fm_right_content, .fm_left_content {
        display: none;
        left: 0px;
        right: 0px;
        -webkit-box-shadow: 0 0 0 black;
        -moz-box-shadow: 0 0 0 black;
        box-shadow: 0 0 0 black;
    }

    .fm_center_content {
        left: 0px;
        right: 0px;
        bottom: 0;
    }

    .fm_find_me {
        position: absolute;
        top: 110px;
        left: 20px;
        z-index: 100;
        cursor: pointer;
    }

    header {
        height: 0em;
        -webkit-box-shadow: 0px 0px 15px -2px black;
        -moz-box-shadow: 0px 0px 15px -2px black;
        box-shadow: 0px 0px 15px -2px black;
    }

    #map_zoom_slider {
        top: 30px;
    }

    footer {
        display: none;
		bottom: 0px;
		height: 1.5em;
	}
    nav {
        top: 0px;
        height: 4.8em;
    }

    .fm_container_main {
        top: 4.8em;
        bottom: 2.6em;
    }

    header .fm_title_bar {
        font-size: 1.2em;
        margin: 0px;
        height: 0px;
    }

    nav {
        overflow-x: auto;
        overflow-y: hidden;
        background-color:#04273e;
    }

        nav .fm_nav {
            display: block;
            min-width: 380px;
            text-align: center;
        }

    .fm_overlay, .fm_search {
        bottom: 4em;
        left: 20px;
        right: 20px;
    }

    .fm_measurement {
        height: 120px;
    }

    .fm_basemap_image {
        width: 120px;
    }

    .fm_basemaps_list {
        max-height: 80%;
        /*overflow-y: auto;*/
    }

    .fm_table_data {
        max-height: 80%;
    }

    .fm_button {
        width: 64px;
        height: 100%;
        margin: 0px;
        /*padding: 5px 5px;*/
    }

        .fm_button .fm_icon, .fm_button:hover .fm_icon {
            display: inline-block;
            width: 64px;
            height: 64px;
            background-size: 64px 64px;
            *padding: 5px;
        }

        .fm_button:hover, .fm_button_active {
            background-color: white;
        }

    .fm_icon_text, .fm_icon_text.fm_show {
        display: none;
        margin: 0px;
        padding: 0px;
    }

    .fm_close {
        width: 20px;
        height: 20px;
        margin: 10px;
        background-size: 20px 20px;
    }

    .fm_location_input {
        font-size: 2em;
        width: 80%;
    }

    .fm_location_button {
        position: relative;
        top: 2px;
        width: 2em;
        height: 2em;
        display: inline-block;
        background-size: 2em 2em;
    }

    .fm_panel {
        padding-top: 30px;
    }

    .fm_float_right {
        float: right;
        margin-left:2px;
        margin-right:2px;
    }

    .fm_factor_parent {
        float: left;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        
    }

    .fm_factor_child_button {
        /*background: url(fm_icons/rb.png) no-repeat;
        width: 48px;
        height: 48px;
        top: 10px;
        text-align: center;
        display: table;*/
    }

    .fm_deathinjury_style {
        float: left;
        padding: 15px;
    }

        .fm_deathinjury_style div {
            width: 287px;
        }

    .fm_factor_label {
        display: table-cell;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .fm_factor_title {
        clear: left;
        margin-top: 5px;
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 5px;
        padding-right: 10px;
        font-weight: bold;
    }

    .fm_cluster {
        position: absolute;
        z-index: 101;
        background-color: transparent;
        width: 220px;
        height: 50px;
    }
     .fm_factor_alcohol{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/alcohol-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_alcohol:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/alcohol-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_alcohol_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/alcohol-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }


    .fm_factor_unbelted{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/seatbelt-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_unbelted:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/seatbelt-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_unbelted_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/seatbelt-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }


    .fm_factor_speeding{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/speeding-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_speeding:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/speeding-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_speeding_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/speeding-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }


    .fm_factor_distracted{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/dd-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_distracted:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/dd-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_distracted_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/dd-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }


    .fm_factor_under21{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/under21-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_under21:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/under21-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_under21_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/under21-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }


    .fm_factor_olderdriver{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/60orolder-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_olderdriver:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/60orolder-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_olderdriver_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/60orolder-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }

    .fm_factor_bike{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/bike-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_bike:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/bike-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_bike_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/bike-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }


    .fm_factor_pedestrian{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/pedestrian-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_pedestrian:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/pedestrian-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_pedestrian_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/pedestrian-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }

    .fm_factor_motorcycle{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/motorcycle-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_motorcycle:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/motorcycle-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_motorcycle_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/motorcycle-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }

    .fm_factor_truck{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/truck-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_truck:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/truck-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_truck_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/truck-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }

    .fm_factor_intersection{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/intersection-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_intersection:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/intersection-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_intersection_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/intersection-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    
    .fm_factor_workzone{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/workzone-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_workzone:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/workzone-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_workzone_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/workzone-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }

    .fm_factor_railroad{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/railroad-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_railroad:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/railroad-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_railroad_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/railroad-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }

    .fm_factor_lane{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/lane-notselected-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_lane:hover{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/lane-hover-30.png') no-repeat;
        background-size: 40px 40px;
    }
    .fm_factor_lane_selected{
        width: 40px;
        height: 40px;
        background: url('fm_icons/newicons/lane-selected-30.png') no-repeat;
        background-size: 40px 40px;
    }
}

/* override elements */
.fm_no_margin {
    margin: 0;
}

/* webkit scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3) inset;
    box-shadow: 0 0 4px rgba(0,0,0,0.3) inset;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(34,34,34,.7);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.6) inset;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(34,34,34,.1);
}

/****************************************************
 * JavaScript Tabs CSS
 ****************************************************/
/* The tab style */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* The Links on the Tab style */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

div.tab a:hover {
    background-color: #ddd;
}

div.tab a:focus, .active {
    background-color: #ccc;
}

/* Tab Content Style */
.tabcontent {
    display: block;
    padding: 0px;
    border: 1px solid #ccc;
    border-top: none;
    height: 87%;
}
